@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', ui-sans-serif, system-ui, apple-system, 'Segoe UI',
    Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;

  --font-roboto: 'Roboto', sans-serif;

  --font-albert: 'Albert Sans', sans-serif;

  --breakpoint-3xl: 120rem;

  --color-White: #ffffff;
  --color-Black: #000000;
  --color-lightOrange: #f6a11f;
  --color-lightCyan: #17bcbc;

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --color-primary-background: #202020;
}

@layer utilities {
  .font-albert {
    font-family: var(--font-albert);
  }

  .font-roboto {
    font-family: var(--font-roboto);
  }

  .font-inter {
    font-family: var(--font-inter);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.18s ease-out forwards;
}
